.c-section {
	&__balance {
		margin-top: 12px;
		border: 1px solid $color-grey2;
		min-height: 85px;
		background-color: $color-primary;
		display: flex;
		align-items: center;
		@include media-breakpoint-down(md) {
			padding: 20px 0;
		}
		
		
		.row {
			display: flex;
			@include media-breakpoint-down(md) {
				flex-direction: column;
			}
			
			.balance {
				display: flex;
				@include media-breakpoint-down(md) {
					width: 100%;
					display: flex;
					justify-content: center;
				}
				@include media-breakpoint-down(sm) {
					flex-direction: column;
					align-items: center;
				}
				
				.item {
					width: fit-content;
					
					&:first-child {
						margin-right: 40px;
						@include media-breakpoint-down(sm) {
							margin-right: 0;
						}
					}
				}
				
				.c-title--primary {
					h2 {
						line-height: 2.1;
					}
				}
			}
			
			.brands {
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-wrap: wrap;
				.item {
					@include media-breakpoint-down(sm) {
						margin: 5px;
					}
				}
			}
		}
	}
}
