.c-section {

	&__faq {
		background-color: $color-primary;

		.l-faq {
			&__inner {

			}

			&__title {
				padding: 40px 0 20px;
				margin-top: 15px;

				.c-title--primary2 {
					margin: 0 auto;
				}
			}

			&__main {
				.item {
					margin-top: 30px;
					padding-bottom: 35px;
					border-bottom: 1px solid #eeeeee;

					&__inner {
						display: flex;

						.image {
							width: fit-content;
							height: fit-content;
							margin-right: 27px;

							img {
								width: 47px;
								height: 47px;
								filter: hue-rotate(266deg);
							}
						}

						.text {
							width: 100%;

							.c-title--primary {
								margin-bottom: 10px;
							}

							.c-subtitle2 {
								h4 {
									text-shadow: none;
									text-align: left;
									line-height: 1.5;
									font-weight: 300 !important;
								}
							}
						}
					}
				}
			}
		}
	}
}