.c-section {
	&__hero {
		.l-hero {
			&__bg {
				background: url(../img/bg/7.png) center no-repeat;
				background-size: cover;
				height: auto;
				width: 100%;
			}

			&__title {
				padding-top: 20px;

				@include media-breakpoint-up(md) {
					padding-top: 47px;
				}

				.c-title {
					h1 {
						text-shadow: 0 8px 4px rgba(0, 0, 0, .1);
					}
				}

				.c-subtitle {
					h2 {
						text-shadow: 0 8px 4px rgba(0, 0, 0, .1);
						@include media-breakpoint-down(sm) {
							font-size: 16px;
						}
					}
				}
			}

			&-inner {
				padding-bottom: 31px;
				margin-top: 20px;

				@include media-breakpoint-up(md) {
					margin-top: 66px;
				}
			}
		}
	}
}