<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Meta: Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- End of Meta: Basic -->

		<!-- Meta: Mobile -->
		<meta name="viewport"
					content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- End of Meta: Mobile -->

		<!-- Meta: Site -->
		<title>Bitcoin Evolution</title>
		<!-- End of Meta: Site -->

		<!-- Meta: Basic Images -->
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/xfavico.png">
		<!-- End of Meta: Basic Images -->

		<!-- Styles -->
		<link rel="stylesheet" href="assets/css/main.min.css?v=1">
		<!-- End of Styles -->

		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Meta: Mobile Bar Color -->
		<meta name="theme-color" content="#a110cb">
		<meta name="msapplication-navbutton-color" content="#a110cb">
		<meta name="apple-mobile-web-app-status-bar-style" content="#a110cb">
		<!-- End of Meta: Mobile Bar Color -->

	</head>
	<body>

		<!-- Section: Header -->
		<header>

		</header>
		<!-- End of Section: Header -->
